body
{
    background-color: hsl(233, 47%, 7%);
    color: white;
}

.bloc
{
    background-color: hsl(244, 38%, 16%);
    display: flex;
}
























.attribution
{ 
    font-size: 11px;
    text-align: center; 
    margin-top: 2em;
}

.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}